.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #333;
    color: #fff;
  }
  
  .navbar-logo {
    font-size: 1.5rem;
  }
  
  .navbar-menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  .nav-item {
    margin-right: 20px;
  }
  
  .nav-item a {
    text-decoration: none;
    color: #fff;
    transition: color 0.3s ease;
  }
  
  .nav-item a:hover {
    color: #ffc107; /* Change color on hover */
  }
  
  .navbar-toggle {
    display: none; /* Hide toggle button by default on larger screens */
    cursor: pointer;
  }
  
  /* Media query for mobile responsiveness */
  @media (max-width: 768px) {
    .navbar_menu {
      display: none; /* Hide menu items by default on smaller screens */
      flex-direction: column; /* Stack menu items vertically */
      position: absolute;
      top: 60px;
      left: 0;
      width: 100%;
      background-color: #333;
      padding: 10px;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      z-index: 1;
    }
  
    .navbar_menu.active {
      display: flex; /* Show menu items when active */
    }
  
    .navbar_toggle {
      display: block; /* Show toggle button on smaller screens */
      color: #fff;
      font-size: 1.5rem;
    }
  }
  