.outer_main_final {
    padding-top: 111px;
    position: relative;
  }
  
  .headingfac_final {
    width: 100%;
    text-align: center;
    padding: 40px 0px;
    padding-top: 50px;
  }
  
  .headingfac_final h1 {
    color: #982b35;
    font-family: "Madimi One", sans-serif;
    font-size: 35px;
  }
  
  .facultywrap_final {
    display: flex;
    align-items: center;
  }
  
  /* .card_final{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
  } */
  
  .faccardmain_final {
    text-align: center;
    background-color: #79797933;
    margin: 0px 10px;
    padding: 1rem 1rem;
    padding-bottom: 2.5rem;
    max-width: 200px;
    border-radius: 500px 500px 500px 500px;
    position: relative;
    transition: 2s ease-in-out;
    display: block;
    margin-left: auto;
    margin-right: auto;


  }
  
  .readmore_final {
    opacity: 0;
    position: absolute;
    bottom: 6%;
    left: 30%;
    transform: translate(-50% -50%);
    transition: 1s ease-in;
  }
  
  .readmore_final a {
    font-family: "poppins";
    font-style: normal;
    text-decoration: none;
    color: #982B35;
  }
  
  .faccardmain_final:hover {
    padding-bottom: 5rem;
    transition: .5s ease-in-out;
  }
  
  .faccardmain_final:hover .readmore_final {
    opacity: 1;
  }
  
  .iconimg_final {
    color: #982B35;
    font-size: 2.5rem;
    width: 50px;
    height: 50px;
  }
  
  .facimg1_final {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    margin: auto;
  }
  
  .facicons_final {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .iconimg_final {
    color: #982B35;
    font-size: 2.5rem;
  }
  
  .facdata_final {
    padding-top: 1rem;
  }
  
  .facdata_final h4 {
    color: #982B35;
    font-family: "poppins";
    font-weight: 500;
  }
  
  .facdata_final h6 {
    color: black;
    font-family: "poppins";
    font-weight: 300;
  }
  
  .lefti_final,
  .righti_final {
    position: absolute;
    opacity: 0.1;
  }
  
  .lefti_final {
    left: 0;
    top: -270px;
    width: 50%;
  }
  
  .righti_final {
    right: 0;
    top: -257px;
    width: 50%;
  }
  .faccardmain_final{
    margin-top: 10px;
    margin-bottom: 6px;
  }
  .former{
    display: block;
    margin: auto;
    background-color: #982B35;
    color: white;
    padding: 10px;
    border-radius: 9px;
    border: none;
    margin-top: 15px;
  }
  
  /* Media Queries */
  @media (max-width: 991px) {
    .card_final {
      margin-bottom: 2rem;
    }
  
    .righti_final {
      width: 60%;
      top: -50px;
    }
  
    .lefti_final {
      top: -50px;
      width: 60%;
    }
  
    .headingfac_final {
      padding-top: 170px;
    }
  
    .facultywrap_final {
      padding-bottom: 20px;
    }
  
    .outer_main_final {
      padding-top: 0px;
    }
  }
  