*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@tailwind base;
@tailwind utilities;

a{
    text-decoration: none;
}


@media(max-width:991px){

    .list a{
        width: max-content;
    }
    .list p{
        width: max-content;
    }
    .list{
        display: flex;
        justify-content: flex-start;
    }
}