.card:hover{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-color: #CF9CA1;
}
.click{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-color: #CF9CA1;
}
.card{
    width: 90%;
    display: block;
    margin: auto;
    padding: 30px 50px;
    border-radius: 30px;
    cursor: pointer;
    background: transparent;
}
.card p{
   text-align: center;
   display: -webkit-box;
   -webkit-box-orient: vertical;
   overflow: hidden;
   -webkit-line-clamp: 4; 
}
.card h3{
    font-family: "Madimi One";
    font-size: 20px;
    font-weight: 600;
    display: block;
    margin: 20px auto;
    text-align: center;
}
.mainic{
    width: 60px;
    height: 60px;
}
.lg{
    width: max-content;
    display: block;
    margin: 20px auto;
}
.r_out{
    padding: 70px 0px;
    padding-top: 70px;
}
.click{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-color: #CF9CA1;
}
.card img{
    margin-left: 10px;
}
@media(max-width:1400px){
    .card h3{
        font-size: 23px;
    }
    .card{
        padding: 20px 40px;
    }
    
}
@media(max-width:991px){
    .card p{
        display: none;
    }
    .wr{
        height: 80%;
        width: 80%;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
    .card{
       margin: 0px auto;
       padding: 10px 10px;
       align-items: center;
       margin-top: 5px;
       margin-bottom: 5px;
    }
    .card img{
            width: 40px;
            height: 40px;
            display: block;
            margin-left: auto;
            margin-right: auto;
    }
    .card h3{
        font-size: 16px;
        font-weight: 500;
    }
    .r_out{
        padding-top: 50px;
    }
    .r_out{
        padding: 20px;
    }
    .lg{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .card img{
        width: 40px;
        height: 40px;
        display: block;
        margin-left: auto;
        margin-right: auto;
}

}
@media(max-width:660px){
    .wr{
        display: none;
    }

}