
.sec{
    min-height: 90vh;
    padding: 90px 0px;
}
.head{
    font-size: 45px;
    font-family: "Madimi One";
    color: #982B35;
    font-weight: 600;
    margin: 60px 0px;
    margin-left: 65px;
}
.im{
    border-radius: 40px;
    width: 90%;
    display: block;
    margin: auto;
    height: 40vw;
}
.pera{

    font-family: "Poppins";
    margin: 90px 0px;
    font-size: 25px;
    width: 90%;
    display: block;
    margin-left: auto;
    margin-right: auto;

}
.name{
    display: block;
    float: right;
    font-size: 50px;
    color: #982B35;
    font-weight: 700;
    font-family: "Madimi One";
}
.c_al{
    display: flex;
    align-items: center;
    justify-content: center;
}
.a_ic{
    width: 15px;
    height: 15px;
    color: #982B35;
    margin: 0px 5px;
  
    
}
.date{
    margin-left: 65px;
   display: flex;
    margin-bottom: 10px;
    flex-direction: row;
    align-items: center;
}

@media(max-width:767px){
    .pera{
        margin: 40px 0px;
        font-size: 20px;
    }
    .im{
        margin-left: 1px;
    }
}