.sec{
    min-height: 80vh;
    display: flex;
    align-items: center;
    position: relative;
    padding-top: 30px;
    overflow-x: hidden;
    position: relative;
    padding-bottom: 35px;

}

.bnr{
    position: absolute;
    width: 53%;
    height: 90px;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    background-color: #DFDFDF;
    z-index: 0;

  }


  .im{
    position: absolute;
    width: 41%;
    height: 100%;
    left: 0;
    top: 0;
    opacity: 0.1;
    z-index: -4;
   
  }
  .v_out{
    display: flex;
    justify-content: center;
  }
  .view{
    border-radius: 20px;
    background-color: #982B35;
    color: white;
    border: none;
    padding: 3px 20px;
    margin-top:54px;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    background-color:#982B35 ;
    margin-top: 20px;
   
  }
.rv{
  position: absolute;
  bottom: 0;
}

  @media(max-width:991px){
    .im{
      width: 100%;
    }
    .sec{
      padding-bottom: 43px;
    }

  }
  /* @media(max-width:685px){
    .im{
      width: 60%;
    }
  }
  @media(max-width:685px){
    .im{
      width: 70%;
    }
  } */